
/* ---------------------------------------------------------------------
 Definition List Styles.
------------------------------------------------------------------------ */

.dList {
    overflow: hidden;
}
.dList > * {
    display: block;
}
.dList dt {
    margin-bottom: 4px;
    font-style: bold;
    
}
.dList dd {
    margin-bottom: 12px;
    font-style: italic;
}

