
// ---------------------------------------------------------------------
//  Hero Styles Settings
// ---------------------------------------------------------------------

.hero {
	width: 100%;
	overflow: hidden;
	position: relative;
	// Absolute Positioned Header Height
	//padding-top: 60px;

	img {
		margin: 0 auto;
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

.hero--pattern {
	background: url('../images/bg-pattern.svg') no-repeat;
	background-size: cover;
	background-position: center;
}

.hero__content {
	width: 100%;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero__title {
	font-family: $serif;
	font-size: 2.8em;
	line-height: 1;
	letter-spacing: 0.1em;
	color: $gray;
	margin-bottom: 36px;
}


// ----------------------------------------
// Hero Fixed
// ----------------------------------------

.hero--fixed {
	height: 288px;

	img {
		@include centerImg;
	}
}

@include START_AT($small) {
	.hero--fixed {
		height: 432px;
	}

	.hero__title {
		font-size: 4.8em;
	}
}

@include START_AT($large) {
	.hero--fixed {
		height: 672px;
	}

	.hero__title {
		font-size: 6.25em;
	}
}