
/* ---------------------------------------------------------------------
 Horizontal List Styles.
------------------------------------------------------------------------ */

.hList {
    overflow: hidden;
}

.hList > * {
    float: left;
}

.hList--spread > * + * {
    margin-left: 15px;
}

.hList--piped > * + * {
	margin-left: 8px;
}

.hList--piped > * + *:before {
	content: "|";
	margin-right: 8px;
	display: inline-block;
	color: $brand;
}
