/* ---------------------------------------------------------------------
 Media Styles
------------------------------------------------------------------------ */

.centerImg {
    position: relative;
    width: auto;
    height: auto;
    min-height: 100%;
    min-width: 100%;
    max-width: 130%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);   
}

/* ---------------------------------------
 SVGs
--------------------------------------- */
.shape {
	display: block;
}

.shape--inline {
	display: inline-block;
	vertical-align: middle;
}

.shape svg {
	fill: $brand;
	height: 44px;
	width: auto;
	display: block;
}