// ---------------------------------------------------------------------
//  Mixins
// ---------------------------------------------------------------------

@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin wrapper {
    width: 90%;
    margin: 0 auto;
    max-width: $wrapper-width;
    transition: max-width $transition;
}

@mixin opacityHover($opacity) {
    transition: opacity $transition;
    &:hover {
        opacity: $opacity;
    }
}

@mixin vCenter($position) {
    position: $position;
    top: 50%;
    transform: translate3d(0, -50%, 0);
}

@mixin vCenterTable {
    display: table;

    > * {
        display: table-cell;
        vertical-align: middle;
    }
}

@mixin coverParent {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@mixin centerImg($position) {
    position: $position;
    width: auto;
    height: auto;
    max-height: 110%;
    min-height: 100%;
    //min-width: 100%;
    max-width: none;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);

    @include STOP_AT($small) {
        height: 100%;
        min-width: 100%;
    }
}

@mixin noSelect {
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@mixin visuallyHidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}