// ---------------------------------------------------------------------
//  SCSS Settings
// ---------------------------------------------------------------------


// ----------------------------------------
// Fonts
// ----------------------------------------

// Font weights: 400 | 900
$serif: 'Playfair Display', serif;

// Font weights: 400 | 700
$sans-serif: 'Karla', sans-serif;


// ----------------------------------------
// Font Size/ Line Height
// ----------------------------------------
$main-font: $sans-serif;
$base-font-size: 1.5rem;
$base-line-height: 1.6;


// ----------------------------------------
// Colors
// ----------------------------------------

$brand: #282828;

$white: #ffffff;
$black: #282828;
$gray-light: #e7e7e7;
$gray: #666;
$gray-dark: #3a3a3a;


// ----------------------------------------
// Breakpoints
// ----------------------------------------

$xlarge: 1450px;
$large: 1025px;
$medium: 800px;
$small: 600px;

@mixin START_AT($device-width) {
  @media (min-width: $device-width) {
    @content
  }
}

@mixin STOP_AT($device-width) {
  @media (max-width: $device-width - 1) {
    @content 
  }
}


// ----------------------------------------
// Global Variables
// ----------------------------------------

$padding: 48px;
$transition-speed: 0.4s;
$transition: $transition-speed ease-in-out;
$wrapper-width: 1128px;
$header-breakpoint: $small;
