
/* ---------------------------------------------------------------------
Stick to top Styles
------------------------------------------------------------------------ */

.stickToTop-wrapper {
    
}

.is-sticky .stickToTop {
	position: fixed;
	top: 0;
}

.stickToTop {
	padding: 20px 0;
}