
/* ---------------------------------------------------------------------
 Horizontal Tabs and tabs_hThenV Styles
------------------------------------------------------------------------ */

.tabs {
    overflow: hidden;
}

.tabs > * {
    display: inline;
    font-size: 0;
}

.tabs--2up > * > .tab__tab {
    width: 50%;
}

.tabs--3up > * > .tab__tab {
    width: 33.33333%;
}

.tabs--4up > * > .tab__tab {
    width: 25%;
}

.tab__tab {
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    padding: 5px;
    background-color: $brand;
    box-sizing: border-box;
    color: $white;
    transition: all $transition;
}

.tab__tab:hover {
    cursor: pointer;
    background-color: $brand-alt;
    color: $brand;
}

.tab__bd {
    height: 0;
    width: 0;
    display: block;
    float: left;
    overflow: hidden;
}

.tabs .is-open .tab__tab {
    background-color: $brand-alt;
    color: $brand;
}

.tabs .is-open .tab__bd { 
    font-size: $BASE_FONT_SIZE;
    padding: 16px 24px;
    width: 100%;
    height: inherit;
    background-color: $brand-alt;
    color: $white;
}

@include START_AT($small) {
    .tabs--hThenV > * {
        display: inline;
        font-size: 0;
    }
}

@include STOP_AT($small) {
    .tabs--hThenV > * > .tab__tab {
        width: 100%;
    }
}
