
/* ---------------------------------------------------------------------
 Typography Styles
------------------------------------------------------------------------ */

/* ---------------------------------------
 Heading Mixins
--------------------------------------- */

@mixin hdg {
    display: block;
    font-family: $sans-serif-bold;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: $gray-dark;
}


@mixin hdg--1 {
    font-size: 3.2rem;
    line-height: 1.2;
}

@mixin hdg--2 {
    font-size: 2.8rem;
    line-height: 1.1;
}

@mixin hdg--3 {
    font-size: 2.4rem;
    line-height: 0.83333;
}

@mixin hdg--4 {
    font-size: 1.8rem;
    line-height: 1.5;
}

@mixin hdg--5 {
    font-size: 1.4rem;
    line-height: 1.71;
}

@mixin hdg--6 {
    font-size: 1.2rem;
    line-height: 2;
}

/* ---------------------------------------
 Headings
--------------------------------------- */
.hdg {
    @include hdg;
}

.hdg--1 {
    @include hdg--1;
}

.hdg--2 {
    @include hdg--2;

}

.hdg--3 {
    @include hdg--3;
    //color: $gray;
}

.hdg--4 {
    @include hdg--4;
    //color: $gray;
}

.hdg--5 {
    @include hdg--5;
    //color: $gray;
}

.hdg--6 {
    @include hdg--6;
    //color: $gray;
}

/* ---------------------------------------
 Body Copy Mixins
--------------------------------------- */
@mixin para {
    display: block;
    font-family: $sans-serif;
    font-size: $BASE_FONT_SIZE;
    line-height: $BASE_LINE_HEIGHT;
    color: #555;
}

@mixin para--lg {
    //font-family: $sans-serif;
    font-size: 1.8rem;
    line-height: 1.7;
}

@mixin para--sm {
    //font-family: $sans-serif;
    font-size: 1.4rem;
    line-height: 1.7124;
}

/* ---------------------------------------
 Body Copy Styles
--------------------------------------- */
.para,
p {
    @include para;
}

.para--lg {
    @include para--lg;
}

.para--sm {
  @include para--sm;
}

.para--alt {
    font-family: $serif;
}

/* ---------------------------------------
 Relationships
--------------------------------------- */
// .hdg + .hdg,
// .hdg + .para,
// .para + .hdg,
// .para + .para,
// p + p, {
//     margin-top: 16px;
// }

// .hdg + .para,
// .para + .para,
// p + p, {
//     margin-top: 16px;
// }

// .hdg + .hdg,
// .para + .hdg {
//     margin-top: 24px;
// }

@mixin lineHeight {
    line-height: 1;
}

.hdg + .mix-noTopMarg,
.para + .mix-noTopMarg,
.mix-noTopMarg .hdg + .hdg,
.mix-noTopMarg .para + .para,
.mix-noTopMarg .hdg + .para,
.mix-noTopMarg .para + .hdg,
.mix-noTopMarg p + p  {
    margin-top: 0;
}


.text-group {
    max-width: 772px;
}

.text-group > * {
    margin-bottom: 12px;
}

.text-group--tight > * {
    margin-bottom: 6px;
}

.text-group__hd {
    margin-bottom: 18px;
}

.text-group > *:last-child {
    margin-bottom: 0;
}

/* ---------------------------------------
 Mix-ins
--------------------------------------- */

.lead-letter::first-letter {
    font-family: $serif;
    color: $brand;
    font-style: italic;
    float: left;
    font-size: 48px;
    display: inline-block;
    line-height: 0.9;
    margin: 4px 12px 0 8px;
}

.text-bold {
    font-weight: 700;
}

.text-italic {
    font-style: italic;
}

.text-brand {
    color: $brand;
}

.text-white {
    color: $white;
}
// .mix-txt_strong     { font: $SANS_SERIF_BOLD; }
// .mix-txt_reg        { font: $SANS_SERIF; }
// .mix-txt_noCaps     { text-transform: none; }
// .mix-txt_caps       { text-transform: uppercase; }

// .mix-txt_brand      { color: $brand; }
// .mix-txt_brandAlt   { color: $brand-alt; }

