// ---------------------------------------------------------------------
//  Base Global Styles
// ---------------------------------------------------------------------

html,
body {
    height: 100%;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: border-box;
}
 
body,
input,
button,
select,
textarea {
    font-family: $main-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
}

a,
.a {
    color: $brand;
    text-decoration: none;
    transition: all $transition;
}

a:hover {
    cursor: pointer;
}

audio {
    width: 100%;
}

img {
    height: auto;
    max-width: 100%;
    display: block;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

picture > * { width: 100%; height: auto; }

::selection { color: $white; background: $black; }
::-moz-selection { color: $white; background: $black; }

[data-scroll-to],
[data-click-target] {
    cursor: pointer;
}
