lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
node_modules/*

.sass-cache
changelog

.DS_Store
assets/.DS_Store

assets/build/styles
assets/build/scripts
assets/build/scripts/production.min.js
assets/build/scripts/production.js

syntaxHighlighter
modules
library.php
includes/sidebar.php