// ---------------------------------------------------------------------
//  Site Footer Styles
// ---------------------------------------------------------------------

.globalFooter {
    overflow: hidden;
    width: 100%;
    background-color: $black;
    color: $white;
}