// ---------------------------------------------------------------------
//  Site Footer Styles
// ---------------------------------------------------------------------

.globalFooter {
    overflow: hidden;
    width: 100%;
    color: $gray;
}