// ---------------------------------------------------------------------
//  Animate In
// ---------------------------------------------------------------------

.noTouch {
	[data-animate-in] {
		opacity: 0;
		transition: transform 1s ease-in-out;
	}

	[data-animate-in="up"] {
		transform: translate3d(0, 24px, 0);
	}

	[data-animate-in="left"] {
		transform: translate3d(-50%, 0, 0);
	}

	[data-animate-in="right"] {
		transform: translate3d(50%, 0, 0);
	}

	[data-animate-in="down"] {
		transform: translate3d(0, -24px, 0);
	}

	[data-animate-in="fadeIn"] {
		transform: translate3d(0, 0, 0);
	}

	[data-animate-in].in-view {
		opacity: 1;
		transform: none;
		transition: all 1s ease-in-out;
	}
}

@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

.fadeIn {
	animation: fadeIn 1s 1;
}
