// ---------------------------------------------------------------------
//  Burger Styles
// ---------------------------------------------------------------------

.burger {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	z-index: 2;
	right: 0;
	width: 48px;
	padding: 12px 0;
	-webkit-backface-visibility: hidden;
	transition: all $transition;
}

//Black Background
.burger:before {
	content: "";
	background-color: $white;
	position: absolute;
	height: 46px;
	top: 50%;
 	transform: translateY(-50%);
	left: 0;
	width: 100%;
}

.burger-inner {
	height: 18px;
	width: 28px;
	position: relative;
	margin: 0 auto;
	left: 0;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

.burger-inner > * {
	position: absolute;
	display: block;
	height: 2px;
	width: 100%;
	background-color: $black;
	margin: 0 auto;
	transition: all 0.6s ease-in-out;
	-webkit-backface-visibility: hidden;
}

.burger-top { top: 0; }
.burger-middle { top: 50%; margin-top: -1px; }
.burger-bottom { bottom: 0; }


// ----------------------------------------
// Active Styles
// ----------------------------------------

.mobileMenuIsOpen {
	.burger-top {
		top: 50%;
		margin-top: -2px;
		transform: rotate(45deg);
	}

	.burger-middle {
		transform: rotate(-135deg);
		opacity: 0;
	}

	.burger-bottom {
		bottom: 50%;
		margin-top: 1px;
		transform: rotate(-45deg);
	}
}

@include START_AT ($header-breakpoint) {
	.burger {
		display: none;
	}
}
