// ---------------------------------------------------------------------
//  Dropdown Styles
// ---------------------------------------------------------------------

$dropdown-height: 44px;

.dropdown {
    position: relative;
    z-index: 2;
    max-width: 360px;
    cursor: pointer;
    min-height: $dropdown-height;
}


// ----------------------------------------
// Icon
// ----------------------------------------

.dropdown__icon {
    position: absolute;
    height: $dropdown-height;
    top: 0;
    right: 0;
    width: 44px;
    z-index: 4;

    svg {
        display: block;
        fill: $brand;
        width: 16px;
        height: 8px;
        margin: 0 auto;
        @include vCenter(relative);
    }
}


// ----------------------------------------
// List
// ----------------------------------------

.dropdown__list {
    overflow: hidden;
    position: absolute;
    z-index: 3;
    width: 100%;
    max-height: $dropdown-height;
    background: #f7f7f7;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    color: $gray-dark;
    transition: max-height $transition;
}

.dropdown__list > * {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height $transition;
}

// Active Item in the dropdown list
.dropdown__list .is-active {
   max-height: $dropdown-height;
}

.dropdown__list > * > * {
    display: block;
    line-height: 1;
    padding: 16px 18px;
    @include opacityHover(0.4);
}


// ----------------------------------------
// Dropdown Is Active
// ----------------------------------------
.dropdown.is-active {
    z-index: 4;

    .dropdown__list {
        max-height: 1000px;

        > * {
            max-height: $dropdown-height;
        }
    }
}

@include START_AT($medium) {
    .dropdown--before--md {
        max-width: 100%;
        background: transparent;

        .dropdown__list {
            position: relative;
            max-height: none;
            background: transparent;
        }

        .dropdown__list > * {
            max-height: none;
        }

        .dropdown__list > * > * {
            height: auto;
            padding: 2px 0;
            display: block;

            &:hover {
                background: transparent;
            }
        }

        .dropdown__list .is-active {
            max-height: auto;
        }

        .dropdown__list > *:first-child,
        .dropdown__icon {
            display: none;
        }
    }
}