// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------


// ----------------------------------------
// Links
// ----------------------------------------

.link {
    text-decoration: underline;
}


// ----------------------------------------
// Buttons
// ----------------------------------------

.btn {
    display: inline-block;
    padding: 12px 16px;
    max-width: 100%;
    min-width: 182px;
    text-align: center;
    border: 1px solid $brand;
    background-color: $brand;
    font-family: $sans-serif;
    font-size: 14px;
    line-height: 1;
    color: $white;
    letter-spacing: 0.15em;
    transition: all $transition; 
}

.btn.is-active,
.btn--alt {
    background-color: transparent;
    color: $black;
}

.btn--light {
    background-color: $white;
    border-color: $white;
    color: $black;
}

.noTouch {
    .btn:hover,
    .btn:focus {
        cursor: pointer;
        color: $gray;
    }

    .btn--alt:hover,
    .btn--alt:focus {
        background-color: $brand;
        border-color: $brand;
        color: $white;
        cursor: pointer;
    }

    .btn--light:hover,
    .btn--light:focus {
        color: $gray;
        background-color: $white;
    }
}

// ----------------------------------------
// Buttons Inline
// ----------------------------------------

.btn--inline {
    display: block;
    max-width: 182px;

    + .btn--inline {
        margin-top: ($padding / 3);
    }
}

@include START_AT($small) {
    .btn--inline {
        display: inline-block;
        max-width: auto;

        + .btn--inline {
            margin-top: 0;
            margin-left: ($padding / 3);
        }
    }
}

// ----------------------------------------
// 
// ----------------------------------------

.noTouch .tel,
.noTouch .tel:hover {
    cursor: text;
}
