// ---------------------------------------------------------------------
//  Utility Classes
// ---------------------------------------------------------------------

.group:after {
  content: "";
  display: table;
  clear: both;
}

// ----------------------------------------
// Layout Utilites
// ----------------------------------------

.is-hidden {
    display: none;
}

@include STOP_AT($small) {
    .is-hidden-xs {
        display: none;
    }
}

@include STOP_AT($medium) {
    .is-hidden-sm {
        display: none;
    }
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.display-table {
    display: table;
    width: 100%;
}

.display-inline {
    display: inline-block;
    vertical-align: middle;
}

.lTable {
    display: table;
    width: 100%;

    > * {
        display: inline-block;
        vertical-align: middle;  
    }
}

.text-center {
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
    }
}

@include START_AT($small) {
    .text-center-after-sm {
        text-align: center; 
    }
}

@include START_AT($medium) {
    .text-center-after-md {
        text-align: center; 
    }
}


// ----------------------------------------
// Full Screen Mask
// ----------------------------------------
.menu-mask,
.modal-mask {
    opacity: 0;
    transition: opacity $transition;

    &:hover {
        cursor: default;
    }
}


.menu-is-active .menu-mask,
.modal-is-active .modal-mask {
    display: block;
    position: absolute;
    z-index: 8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    background: rgba(0,0,0,0.4);
}