
/* ---------------------------------------------------------------------
 Global Footer Styles
------------------------------------------------------------------------ */

.globalFooter {
    overflow: hidden;
    width: 100%;
    background-color: $brand;
    color: $white;
    position: relative;
    z-index: 8;
}