
/* ---------------------------------------------------------------------
 Hero Styles
------------------------------------------------------------------------ */

.hero {
	width: 100%;
	overflow: hidden;
	position: relative;
	transition: height 0.4s ease-in-out;
	// Absolute Positioned Header Height
	//padding-top: 60px;

	img {
		margin: 0 auto;
	}

	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		//background-color: rgba(20,20,20,0.8);
	}
}

.hero--fixed {
	height: 288px;

	img {
		@include centerImg;
	}
}

.hero__content {
	width: 100%;
	position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.hero__content .hdg {
	display: inline-block;
	color: $brand-alt;
	max-width: 100%;
	font-size: 24px;
	//background-color: $white;
}

.hero--light .hero__content p,
.hero--light .hero__content .hdg,
 {
	//color: $white;
}

@include START_AT($small) {
	.hero--fixed {
		height: 432px;
	}

	.hero__content .hdg {
		font-size: 36px;
	}
}

@include START_AT($large) {
	.hero--fixed {
		height: 672px;
	}

	.hero__content .hdg {
		font-size: 36px;
	}
}