
/* ---------------------------------------------------------------------
 Section Styles (Vertical Spacing)
------------------------------------------------------------------------ */

.section {
    display: block;
    padding: 48px 0;
    @include clearfix;
}

.section--short {
    padding: 24px 0;
}

.section--tall {
    padding: 72px 0;
}

.section--flushBottom {
    padding-bottom: 0;
}

.section--flushTop {
    padding-top: 0;
}

/* ---------------------------------------
 Section Headings
--------------------------------------- */

.section__hd {
	//padding-bottom: 12px;
	margin-bottom: 36px;
}

.section__hd--short {
	margin-bottom: 16px;
}

// .section__hd:after {
// 	content: "";
// 	width: 168px;
// 	height: 1px;
// 	background-color: $gray;
// 	display: block;
// 	margin-top: 12px;

// }
