
// ---------------------------------------------------------------------
//  Wrapper Styles (Horizontal Spacing)
// ---------------------------------------------------------------------

.wrapper {
    @include wrapper;
    @include clearfix;
}

.wrapper--thin {
    max-width: 720px;
}


// ----------------------------------------
// Wrapper Full (for full color blocks)
// ----------------------------------------

.wrapperFull {
    max-width: 100%;
    @include clearfix;
}

.wrapperFull--dark {
    background-color: $black;
    color: $white;
}

@include STOP_AT($small) {
    .wrapper--xs--full {
        width: 100%;
        overflow: hidden;
    }
}

@include STOP_AT($medium) {
    .wrapper--sm--full {
        width: 100%;
        overflow: hidden;
    }
}

@include STOP_AT($large) {
    .wrapper--md--full {
        width: 100%;
        overflow: hidden;
    }
}