// ---------------------------------------------------------------------
//  Global Header Styles
// ---------------------------------------------------------------------

.site-header {
	position: absolute;
	z-index: 10;
	width: 100%;
}

.site-header .wrapper {
	display: table;
	padding: 16px 0;
}


// ----------------------------------------
// Logo Styles
// ----------------------------------------

$logo-width: 220px;
$logo-height: 72px;

.logo {
	display: table-cell;
	vertical-align: middle;
}

.logo a {
	display: block;
	color: $black;
	width: $logo-width;
	font-family: $serif;
	font-weight: 400;
	font-size: 2.4rem;
	@include opacityHover(0.8);
}


// ----------------------------------------
// Mobile Menu Styles
// ----------------------------------------

@include stop-at($header-breakpoint) {

	$panel-width: 260px;

	.site-header-panel {
		position: fixed;
		height: 100%;
		width: $panel-width;
		padding: 0 24px;
		left: 0;
		margin-left: -$panel-width;
		background: $brand;
		z-index: 10;
		bottom: 0;
		top: 0;
		overflow-x: hidden;
		overflow-y: auto;
		transition: margin-left 0.4s ease-in-out;
	}

	// ----------------------------------------
	// Main Nav Styles
	// ----------------------------------------
	.site-navigation {
		overflow: hidden;
		width: 100%;
		margin: 24px auto 48px;
		display: block;
	}

	.site-navigation-list > * {
		display: block;
	}

	.site-navigation-list > * > * {
		display: block;
		color: $white;
		padding: 12px 0;
		letter-spacing: 0.025em;
		@include opacityHover(0.5);
	}


	// ----------------------------------------
	// Menu Mask
	// ----------------------------------------

	.menu-mask {
		opacity: 0;
		transition: opacity $transition;

		&:hover {
			cursor: default;
		}
	}


	// ----------------------------------------
	// Menu Is Open
	// ----------------------------------------
	.mobile-menu-is-open {
		overflow: hidden;

		.site-header-panel {
			margin-left: 0;
		}

		.menu-mask {
			display: block;
			position: absolute;
			z-index: 8;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			opacity: 1;
			background: rgba(0,0,0,0.4);
		}

	}
}


// ----------------------------------------
// Desktop Menu Styles
// ----------------------------------------

@include start-at($header-breakpoint) {

	.site-header-panel {
		display: table-cell;
		vertical-align: middle;
		position: relative;
	}

	.site-navigation-list {
		display: table;
		float: right;
		max-width: 536px;
	}

	.site-navigation-list:after {
		content: "";
		display: table;
		clear: both;
	}

	.site-navigation-list > * {
		display: inline-block;
		vertical-align: middle;
		text-align: center;
		min-width: 120px;
	}

	.site-navigation-list > * > *,
	.site-navigation-list > * > a {
		display: block;
		color: $black;
		padding: 12px 0;
		font-size: 16px;
		letter-spacing: 0.025em;
		@include opacityHover(0.6);
	}

	.site-header.isSticky {
		position: fixed;
		z-index: 10;
		width: 100%;
		background: $white;
	}

}


// ----------------------------------------
// Tablet Nav Styles
// ----------------------------------------

// @media ( min-width: $small ) and ( max-width: $medium ) {

// 	.site-header_adjustTab .burger {
// 		display: none;
// 	}

// 	.site-header_adjustTab .wrapper {
// 		overflow: hidden;
// 		display: block;
// 		padding: 12px 0 24px;
// 	}

// 	.site-header_adjustTab .logo {
// 		display: block;
// 		margin: 0 auto 24px;
// 		text-align: center;

// 		a {
// 			display: inline-block;
// 		}
// 	}

// 	.site-header_adjustTab .site-header-panel {
// 		display: block;
// 		margin: 0 auto;
// 		width: 100%;
// 		max-width: none;
// 	}

// 	.site-header_adjustTab .site-navigation-list {
// 		max-width: none;
// 		float: none;
// 		width: 100%;
// 		text-align: center;
// 	}
// }
