// ---------------------------------------------------------------------
//  Section Styles (Vertical Spacing)
// ---------------------------------------------------------------------

$padding: 48px;

.section {
    display: block;
    padding: $padding 0;
    @include clearfix;
}

.section--short {
    padding: ($padding / 2) 0;
}

.section--tall {
    padding: ($padding * 1.5) 0;
}

.section--flush-bottom {
    padding-bottom: 0;
}

.section--flush-top {
    padding-top: 0;
}


// ----------------------------------------
//  Section Headings
// ----------------------------------------

.section__hd {
    margin-bottom: ($padding / 2);
}

.section__hd--border {
    padding-bottom: ($padding / 4);
    border-bottom: 1px solid $gray-light;
}

.section__hd--short {
	margin-bottom: ($padding / 3);
}
