// ---------------------------------------------------------------------
//  Text Group Styles
// ---------------------------------------------------------------------

.text-group {
	@include clearfix;
}

.text-group > * {
    margin-bottom: 12px;
}

.text-group__hd {
    margin-bottom: 18px;
}

.text-group__ft {
    margin-top: 18px;
}

.text-group > *:last-child {
    margin-bottom: 0;
}
