
// ---------------------------------------------------------------------
//  Wrapper Styles (Horizontal Spacing)
// ---------------------------------------------------------------------

.wrapper {
    @include wrapper;
    @include clearfix;
}

// ----------------------------------------
// Extensions
// ----------------------------------------

.wrapper--thin {
    max-width: 720px;
}

.wrapperFull {
    max-width: 100%;
    @include clearfix;
    overflow-x: hidden;
}

@include stop-at($small) {
    .wrapper--xs--full {
        width: 100%;
        overflow: hidden;
    }
}

@include stop-at($medium) {
    .wrapper--sm--full {
        width: 100%;
        overflow: hidden;
    }
}

@include stop-at($large) {
    .wrapper--md--full {
        width: 100%;
        overflow: hidden;
    }
}