
// ---------------------------------------------------------------------
//  Hero Styles Settings
// ---------------------------------------------------------------------

.hero {
	overflow: hidden;
	width: 100%;
	position: relative;
	padding: 136px 0;

	img {
		@include centerImg(absolute);
	}
}

.hero__content {
	position: relative;
	z-index: 1;
	width: 100%;
}


// ----------------------------------------
// Hero Fixed
// ----------------------------------------

.hero--fixed {
	padding: 0;
	height: 288px;
	display: flex;

	.hero__content {
	    align-self: center;
	}

	@include start-at($small) {
		height: 432px;
	}
}
