// ---------------------------------------------------------------------
//  Link & Button Styles
// ---------------------------------------------------------------------

.btn {
    display: inline-block;
    text-align: center;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: $brand;
    border: 1px solid $brand;
    color: $white;
    font-size: 1.4rem;
    font-weight: 500;
    transition: background $transition, color $transition;

    &:hover {
        cursor: pointer;
        background: transparent;
        color: $brand;
    }
}

.btn--alt {
    background: transparent;
    color: $brand;

    &:hover {
        background: $brand;
        color: $white;
    }
}

.btn--light {
    background: transparent;
    color: $white;
    border-color: $white;

    &:hover {
        cursor: pointer;
        background: $white;
        color: $brand;
    }
}

// ----------------------------------------
// Buttons Inline
// ----------------------------------------

.btn--inline {
    display: block;
    margin-right: 15px;

    + .btn--inline {
        margin-top: 15px;
    }
}

@include start-at($small) {
    .btn--inline {
        display: inline-block;
        max-width: auto;

        + .btn--inline {
            margin-top: 0;
        }
    }
}


// ----------------------------------------
// Links
// ----------------------------------------

.link {
    text-decoration: underline;
}


// ----------------------------------------
//
// ----------------------------------------

.noTouch .tel,
.noTouch .tel:hover {
    cursor: text;
}
