// ---------------------------------------------------------------------
//  Modal
// ---------------------------------------------------------------------


.modal {
	position: fixed;
	overflow-x: hidden;
	overflow-y: scroll;
	overflow: hidden;
	display: block;
	width: 100%;
	height: 100%;
	max-width: 100%;
	background: $white;
	padding: 48px 24px 24px;
	z-index: 2000;
	top: 0;
	left: 0;
	opacity: 0;
	border-radius: 200%;
	transform: scale(0);
	transition: all $transition;
}

.modal.is-active {
	opacity: 1;
	border-radius: 0;
	transform: scale(1);
}

.modal-is-active:after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(25,25,25,0.5);
	z-index: 1999;
	animation: fadeIn $transition 1;
}

.modal__close {
	position: absolute;
	top: 0;
	right: 0;
	padding: 20px;
	cursor: pointer;

	svg {
		display: block;
		fill: $brand;
		transition: all $transition;
	}

	&:hover svg {
		fill: $gray-light;
	}
}

.modal__hd {
	margin-bottom: 12px;
	padding-bottom: 12px;
	border-bottom: 1px solid $brand;
}

@media (max-height: 540px) {
	.modal {
		margin-top: 0 !important;
		margin-left: 0 !important;
	}
}

@include STOP_AT($medium) {
	.modal {
		margin-top: 0 !important;
		margin-left: 0 !important;
	}
}

@media (min-width: $medium) and (min-height: 540px) {
	.modal {
		width: auto;
		height: auto;
		margin: 0 auto;
		padding: 60px 48px 48px;
		max-width: 640px;
		top: 50%;
		left: 50%;
		transform: scale(0);
	}

	.modal.is-active {
		transform: scale(1);
	}
}
