// ---------------------------------------------------------------------
//  REMOVE FOR PRODUCTION
// ---------------------------------------------------------------------


body:after {
    position: fixed;
    z-index: 1000;
    bottom: 0;
    right: 0;
    display: inline-block;
    color: white;
    font-size: 12px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    content: 'Mobile';

    @include START_AT($small) {
        content: 'Small';
    }

    @include START_AT($medium) {
        content: 'Medium';
    }

    @include START_AT($large) {
        content: 'Large';
    }

    @include START_AT($xlarge) {
        content: 'x-large';
    }
}

#__bs_notify__ {
    opacity: 0.4 !important;
    z-index: -2 !important;
    top: auto !important;
    bottom: 0 !important;
    border-radius: 0 !important;
}

.btn.is-active,
.btn--alt {
    background-color: transparent;
    color: $black;
}



/* ----------------------------------------
 Pattern Library Styles
---------------------------------------- */
.patternLibrary > * {
    background-color: $gray-light;
    color: $black;
    text-align: center;
    padding: 8px 0;
    font-size: 14px;
    transition: all $transition;
    margin-bottom: 8px;
}

.patternLibrary .hover:hover {
    background-color: $brand;
    transition: background-color $transition;
    cursor: default;
}

.patternLibrary-sections > * {
    background-color: $brand;
    color: $white;
    text-align: center;
}

.mask {
    background-color: yellow;
}

.is-open.target {
    color: orange;
}

.inline-code {
    font: 14px Consolas, "Liberation Mono", Menlo, Courier, monospace;
    background-color: #f2f2f2;
    padding: 4px 10px;
    color: #690;
}

.section--border {
    border-bottom: 1px dotted $gray-dark;
    border-bottom: 1px solid $gray;
}


.module {
    overflow: hidden;
    margin-top: 36px;
}

.module__display {
    margin-bottom: 24px;
}

.module-navigation [data-scroll-to] {
    font-size: 14px;
    @include opacityHover(0.5);
}

.module-navigation .section__hd {
    margin-bottom: 8px;
    padding-bottom: 4px;
}

.h-lg {
    @include base-heading-styles;
    font-size: 3.6rem;
    line-height: 1.2;

    @include START_AT($medium) {
        font-size: 5.0rem;
        line-height: 1.2;   
    }
    color: $gray-dark;
}
