// ---------------------------------------------------------------------
//  Utility Classes
// ---------------------------------------------------------------------

.group:after {
  content: "";
  display: table;
  clear: both;
}

.no-select {
    cursor: default;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// ----------------------------------------
// Layout Utilites
// ----------------------------------------

.is-hidden {
    display: none;
}

@include stop-at($small) {
    .is-hidden-xs {
        display: none;
    }
}

@include stop-at($medium) {
    .is-hidden-sm {
        display: none;
    }
}

.sr-only {
    @include visually-hidden;
}

.v-center {
    @include v-center;
}

.display-inline {
    display: flex;

    > * {
        flex-grow: 1;
    }
}

.text-center {
    text-align: center;

    p {
        margin-left: auto;
        margin-right: auto;
    }
}

@include start-at($small) {
    .text-center-after-sm {
        text-align: center;
    }
}

@include start-at($medium) {
    .text-center-after-md {
        text-align: center;
    }
}


// ----------------------------------------
// Full Screen Mask
// ----------------------------------------
.menu-mask,
.modal-mask {
    opacity: 0;
    transition: opacity $transition;

    &:hover {
        cursor: default;
    }
}


.menu-is-active .menu-mask,
.modal-is-active .modal-mask {
    display: block;
    position: absolute;
    z-index: 8;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 1;
    background: rgba(0,0,0,0.4);
}
